<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container">

        <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa fa-handshake-o "></i>
        DevMatch
        <% end %>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Contact Us", new_contact_path, class: "nav-link" %>
            </li>

            <li class="nav-item mx-2">
              <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
            </li>

            <li class="nav-item mx-2">
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
            </li>

          </ul>

        </div>

      </div>
    </nav>


      <div class="container error-msg">
        <% flash.each do |type, msg| %>
          <%= content_tag :div, msg, class: "alert alert-#{type}" %>
        <% end %>
      </div>

      <%= yield %>
  </body>
</html>
